
<div class="profil">
    Mon Utilisateur est :<br>
    <hr>
    <span> Nom :</span> {{monProfil.nom}} <br>
    <span> Prénom :</span> {{monProfil.prenom}} <br>
    <hr>
    <span> Javascript ? :</span> {{monProfil.javascript}} <br>
    <hr>
    <span> Site Favori :</span> {{monProfil.fav_web}} <br>
    <span> Pourquoi ? :</span> {{monProfil.fav_web_why}} <br>
    <hr>
    <span> App Favorite ? :</span> {{monProfil.fav_app}} <br>
    <span> Pourquoi ? :</span> {{monProfil.fav_app_why}} <br>
    <hr>
    <span> Avant IFA ? :</span> {{monProfil.before_ifa}} <br>
    <span> Pourquoi ? :</span> {{monProfil.why_ifa}} <br>
    <hr>
    <span> Mail :</span>  {{monProfil.contact_mail}}
</div>
<div data-my-first-dir></div>
